<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>401無任何憑證</title>
    <link href="/public/css/Main.css" rel="stylesheet" type="text/css" media="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/public/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/public/js/main.js" charset="UTF-8"></script>
    <script src="/public/js/glitch_animation.js"> </script>

</head>
<body style="background-color:#E0E0E0">
<nav>
    <div class="topic">TRPG角卡創建</div>
    <div id="menu" class="menu" >
        <img src="/public/source/icons8-menu.svg" alt="">
    </div>
    <ul>
        <li class="menu btn" id="btn" onclick="get('/')">首頁</li>
        <li class="menu btn" onclick="get('/about')">關於</li>
        <li class="menu btn logged_in" onclick="get('/trpgsession')" style="display: none">團務</li>
        <li class="menu btn logged_in" onclick="get('/charactersheet')" style="display: none">角色卡管理</li>
        <li class="menu btn adminpost" onclick="get('/adminpost')" style="display: none">管理員貼文</li>
    </ul>
    <div class="submenu">
        <button class="subbtn btn validation login">登入</button>
        <button class="subbtn btn validation signup">註冊</button>
    </div>
    <div class="alert-message" style="top: 24px;"></div>
</nav>
<div class="right-menu pop" style="display: none">
        <img style="width: 50%" src="/public/source/toaster.svg"  alt="">
        <a class="btn" id="btn" onclick="get('/')">首頁</a>
        <a class="btn" onclick="get('/about')">關於</a>
        <a class="btn logged_in" onclick="get('/trpgsession')" style="display: none">團務</a>
        <a class="btn logged_in" onclick="get('/charactersheet')" style="display: none">角色卡管理</a>
        <a class="btn adminpost" onclick="get('/adminpost')" style="display: none">管理員貼文</a>
        <a class="btn validation login">登入</a>
        <a class="btn validation signup">註冊</a>
</div>
<div class="content" style="display: flex;justify-content: center;align-items: center;min-height: 100%;">
    <section>

        <div style="display: flex;align-self: center;padding: 100px;align-items: center;justify-content: center">
            <h1 class="error-title" style="margin: 50px;line-height:40px;color: #555;font-size:4em ">401 Error<br><p>你似乎並未登入</p></h1>
            <div class="error-content" style="margin: 50px;line-height:30px;color:black;font-size: 2em">
                <div id="glitch_animation"></div>
            </div>
        </div>

    </section>

</div>
<div class="new_pusher"></div>
<div class="footer" style="">
    Copyright © 2020 trpgtoaster.com. All rights reserved.
</div>
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
</body>
</html>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
