<!doctype html>
<html lang="en">
<head>
<%include model/head.ejs%>

</head>
<body>
<nav>
<% include model/header.ejs%>

</nav>
<% include model/rightmenu.ejs%>
<div class="content" style="display: flex;justify-content: center;align-items: center;min-height: 100%;">
    <section>

        <div style="display: flex;align-self: center;padding: 100px;align-items: center;justify-content: center">
            <h1 class="error-title" style="margin: 50px;line-height:40px;color: #555;font-size:4em ">401 Error<br><p>你似乎並未登入</p></h1>
            <div class="error-content" style="margin: 50px;line-height:30px;color:black;font-size: 2em">
                <div id="glitch_animation"></div>
            </div>
        </div>

    </section>

</div>
<%include model/footer.ejs%>
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
</body>
</html>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
