<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>404找不到你要的東西</title>
    <link href="/public/css/Main.css" rel="stylesheet" type="text/css" media="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/public/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/public/js/main.js" charset="UTF-8"></script>
    <script src="/public/js/glitch_animation.js"> </script>

</head>
<body>
<nav>
    <div class="topic">TRPG角卡創建</div>
    <li class="menu btn" id="btn" onclick="get('/')">首頁</li>
    <li class="menu btn" onclick="get('/about')">關於</li>
    <li class="menu btn logged_in" onclick="get('/trpgsession')"style="visibility: hidden">團務</li>
    <li class="menu btn logged_in" onclick="get('/charactersheet')"style="visibility: hidden">角色卡管理</li>
    <li class="menu btn adminpost" onclick="get('/adminpost')" style="visibility: hidden">管理員貼文</li>
    <div class="submenu">
        <button class="subbtn btn validation" id="login">登入</button>
        <button class="subbtn btn validation" id="signup">註冊</button>
    </div>

    <div class="alert-message" style="top: 24px;"></div>

</nav>
<div class="content" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
    <p style="font-size: 1600%;margin: 4%">404</p>
    <p style="font-size: 600%;margin: 2%">Page Not Found</p>
</div>

<div class="new_pusher"></div>

<div class="footer">
    Copyright © 2020 ItisCaleb & Kulimi. All rights reserved.
</div>
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
</body>
</html>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
