<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>404找不到你要的東西</title>
    <link href="/public/css/Main.css" rel="stylesheet" type="text/css" media="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/public/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/public/js/button.js" charset="UTF-8"></script>
    <script src="/public/js/glitch_animation.js" charset="UTF-8"></script>
</head>
<body style="margin:0;background-color:#E0E0E0">
<nav>
    <div class="topic">TRPG角卡創建</div>
    <li class="menu btn" onclick="redirect('/')">首頁</li>
    <li class="menu btn" onclick="redirect('/create')">角卡創建</li>
    <li class="menu btn" onclick="redirect('/about')">關於</li>
    <li class="menu btn adminpost" onclick="redirect('/adminpost')" style="visibility: hidden">管理員貼文</li>
    <div class="submenu">
        <button class="subbtn btn validation" id="login">登入</button>
        <button class="subbtn btn validation" id="signup">註冊</button>
    </div>
</nav>
<div class="content" style="display: flex;justify-content: center;align-items: center;min-height: 100%;">
    <section>

        <div style="display: flex;align-self: center;padding: 100px;align-items: center;justify-content: center">
            <h1 class="error-title" style="margin: 50px;line-height:40px;color: #555;font-size:4em ">404 Error</h1>
            <div id="glitch_animation" class="error-content" style="margin: 50px;line-height:30px;color:black;font-size: 2em">
                非常抱歉，但是這裡沒有這個東西喔！</div>
        </div>

    </section>

</div>

<div id="little_pusher" style="height: 100px"></div>

<div class="footer" style="">
    Copyright © 2020 ItisCaleb. All rights reserved.
</div>
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
</body>
</html>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
