<!doctype html>
<html lang="en">
<head>
    <% include model/head.ejs %>
</head>
<body>
<nav>
    <% include model/header.ejs %>
</nav>
<% include model/rightmenu.ejs %>
<div class="content" style="display: flex;flex-direction: column;justify-content: center;align-items: center;">
    <p style="font-size: 1600%;margin: 4%">404</p>
    <p style="font-size: 600%;margin: 2%">Page Not Found</p>
</div>

<% include model/footer.ejs %>
<script crossorigin src="https://unpkg.com/react@16/umd/react.development.js"></script>
<script crossorigin src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
</body>
</html>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
