<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>角卡創建</title>
    <link href="/public/Main.css" rel="stylesheet" type="text/css" media="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="margin:0;background-color:#E0E0E0">
<nav>
    <div class="topic">TRPG角卡創建</div>
    <li class="menu btn" onclick="redirect('/')">首頁</li>
    <li class="menu btn" onclick="redirect('/create')" >角卡創建</li>
    <li class="menu btn" onclick="redirect('/about')">關於</li>
    <div class="submenu">
        <button class="subbtn btn" onclick="redirect('/login')">登入</button>
        <button class="subbtn btn" onclick="redirect('/register')">註冊</button>
    </div>
    <script src="/public/Main.js" charset="UTF-8"></script>
</nav>
<div class="content">
    <h1 class="error-title" style="text-align: center;line-height:40px;color: #555;font-size:2em ">404 Error</h1>
    <p class="error-content" style="text-align: center;line-height:30px;color:lightgrey ">This Page doesn't exist</p>
</div>
</body>
</html>
<!-- IE needs 512+ bytes: https://blogs.msdn.microsoft.com/ieinternals/2010/08/18/friendly-http-error-pages/ -->
