<!DOCTYPE html>
<html lang="en">
<head>
    <%include head.ejs%>
</head>
<body>
<nav>
<% include header.ejs%>
</nav>
<% include rightmenu.ejs%>
<div class="content">
    <h1 style="text-align: center;line-height:40px ;"><%= title %></h1>
    <div class="content-decribe" style="text-align: center;line-height:30px ;">
        <%- content.replace(/\r\n/g, "<br />") %><br>
        <div style="display: inline-block">
            如果有任何疑惑，請回報admin@trpgtoater.com<br>
            <a href="https://github.com/ItisCaleb" target="_blank"><img src="../public/source/github_icon.png"  alt="github" style="text-align: center;width: 30px;"></a>
            <a href="https://github.com/ItisCaleb" target="_blank">https://github.com/ItisCaleb</a><br>
            <a href="https://github.com/Xialai-Kulimi" target="_blank"><img src="../public/source/github_icon.png"  alt="github" style="text-align: center;width: 30px;"></a>
            <a href="https://github.com/Xialai-Kulimi" target="_blank">https://github.com/Xialai-Kulimi</a>
        </div>
    </div>

</div>

<%include footer.ejs%>
</body>
</html>
