<!DOCTYPE html>
<html lang="en">
<head>
    <% include model/head.ejs %>
    <link href="/public/css/Auth.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<nav>
    <% include model/header.ejs %>
</nav>
<% include model/rightmenu.ejs %>
<div class="content">
    <h1 class="title"><%= title %></h1>
    <% if (pstatus === 'true') { %>
    <div id="form-box">
        <form id="form" class="table" action="../api/user/find_password/<%= email %>">
            <label class="input">
                <input class="input-box" type="password" placeholder="輸入密碼" name="password" id="password" required>
                <span class="check"></span>
            </label>
            <label class="input">
                <input class="input-box" type="password" placeholder="再次輸入密碼" name="repassword" id="repassword"
                       required>
                <span class="check"></span>
            </label>
            <button id="find_password" class="check-btn">改變密碼</button>
        </form>
    </div>
    <% } %>
</div>
<script>
    $('#find_password').on('click', function (e) {
        e.preventDefault();
        if (!check()) {
            $('#forget_password').prop('disabled', true);
            $.ajax({
                url: $('#form').attr("action"),
                type: 'POST',
                data: $('#form').serializeArray(),
                success: function (data) {
                    good_message(data)
                    setTimeout(function () {
                        redirect('/')
                    }, 1000)
                },
                error: function (data) {
                    bad_message(data.responseText)
                    setTimeout(function () {
                        $('#forget_password').prop('disabled', false);
                    }, 1000)
                }
            });
        }

    })
</script>
<% include model/footer.ejs %>
</body>
</html>