<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>修改密碼</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="content" style="text-align: center">
    <h1>TRPG Toaster</h1>
    <p class="content-decribe" style="text-align: center;line-height:30px ;">
        看來你似乎忘記了你的密碼了<br>
        如果你並沒有想要修改你的密碼，請忽視這封電子郵件
    </p>
    <a href="http://trpgtoaster.com/change_password/<%=id%>">點擊這邊來修改密碼</a>
</div><br>
<div class="footer" style="text-align: center" >
    Copyright © 2020 trpgtoaster.com. All rights reserved.
</div>
</body>
</html>
