<!DOCTYPE html>
<html lang="en">
<head>
    <% include head.ejs %>
    <link href="/public/css/Auth.css" rel="stylesheet" type="text/css" media="all">
    <script src="/public/js/auth.js " charset="UTF-8"></script>
</head>
<body>
<nav>
    <% include header.ejs %>
</nav>
<% include rightmenu.ejs %>
<div class="content">
    <h1 class="title">忘記密碼</h1>
    <div id="form-box">
        <form id="form" class="table" action="../api/user/forget_password">
            <label class="input">
                <input class="email-box" type="email" placeholder="輸入電子郵件" name="email" id="email" required>
                <span class="check"></span>
            </label>
            <button id="forget_password" class="check-btn">寄出電子郵件</button>
        </form>
    </div>
</div>
<% include footer.ejs %>
</body>
</html>