
    <div class="topic">TRPG Toaster</div>
    <div id="menu" class="menu" >
        <img src="/public/source/icons8-menu.svg" alt="">
    </div>
    <ul>
        <li class="menu btn" id="btn" onclick="get('/')">首頁</li>
        <li class="menu btn" onclick="get('/about')">關於我們</li>
        <li class="menu btn logged_in" onclick="get('/trpgsession')" style="display: none">團務</li>
        <li class="menu btn logged_in" onclick="get('/charactersheet')" style="display: none">角色卡管理</li>
        <li class="menu btn adminpost" onclick="get('/adminpost')" style="display: none">管理員貼文</li>
    </ul>
    <div class="submenu">
        <button class="subbtn btn validation login">登入</button>
        <button class="subbtn btn validation signup">註冊</button>
    </div>
    <div id="overlay"></div>
    <div class="alert-message" style="top: 24px;"></div>
