<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html">
<head>
    <%include model/head.ejs%>
</head>

<body>
<nav>
<% include model/header.ejs%>
</nav>
<% include model/rightmenu.ejs%>
<div class="content">
    <h1 style="text-align: center;line-height:40px ;"><%= title %></h1>
    <p class="content-decribe" style="text-align: center;line-height:30px ;">
        <%- content.replace(/\r\n/g, "<br />") %>
    </p>
    <%for(let i=0;i<data.owner.length;i++) {%>
        <div style="margin:auto; line-height:30px ;">
            <div style="margin: auto"><%-data.content[i].replace(/\r\n/g, "<br />")%></div>
        </div>
    <% }%>
</div>

<%include model/footer.ejs%>
</body>
</html>
