<!DOCTYPE html>
<html lang="en">
<head>
    <% include model/head.ejs %>
    <link href="/public/css/Auth.css" rel="stylesheet" type="text/css" media="all">
    <script src="/public/js/auth.js " charset="UTF-8"></script>

</head>
<body>
<nav>
    <% include model/header.ejs %>
</nav>
<% include model/rightmenu.ejs %>
<div class="content">
    <h1 class="title">登入</h1>
    <div id="form-box">
        <form id="form" class="table" action="../api/user/userlogin">
            <label class="input">
                <input class="email-box" type="email" placeholder="輸入電子郵件" name="email" id="email" required>
                <span class="check"></span>
            </label>
            <label class="input">
                <input class="input-box" type="password" placeholder="輸入密碼" name="password" id="password" required>
                <span class="check"></span>
            </label><br>
            <div style="text-align: left;padding-left:5%">
                <a style="font-size: 10px;color: #358ce8" href="/forget_password">忘記密碼?</a>
            </div>
            <br>
            <label class="remember">
                <input type="checkbox" name="check" checked="checked">記住我
            </label><br>
            <button id="login" class="check-btn">登入</button>
        </form>
        <p style="text-align: left;padding-left:5%;">還沒註冊嗎?<a href="/signup" style="color: #358ce8">點擊這邊註冊</a></p>
    </div>
</div>
<% include model/footer.ejs %>
</body>
</html>