<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="view" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta charset="UTF-8">
    <title>角卡創建</title>
    <link href="/public/css/Main.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/public/css/Auth.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="../public/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script src="/public/js/button.js" charset="UTF-8"></script>

</head>
<body style="margin:0;background-color:#E0E0E0">
<nav>
    <div class="topic">TRPG角卡創建</div>
    <li class="menu btn" id="btn" onclick="redirect('/')">首頁</li>
    <li class="menu btn" onclick="redirect('/about')">關於</li>
    <li class="menu btn logged_in" onclick="redirect('/trpgsession')"style="visibility: hidden">團務</li>
    <li class="menu btn logged_in" onclick="redirect('/charactersheet')"style="visibility: hidden">角色卡管理</li>
    <li class="menu btn adminpost" onclick="redirect('/adminpost')" style="visibility: hidden">管理員貼文</li>
    <div class="submenu">
        <button class="subbtn btn validation" id="login" >登入</button>
        <button class="subbtn btn validation" id="signup" >註冊</button>
    </div>
    <div class="message" style="top: 24px;"></div>
</nav>
<form class="content" action="../api/user/userlogin" method="post">
    <h1 class="title">登入</h1>
    <div class="table">
        <label class="table-bar" for="email"><b>電子郵件</b></label><br>
        <input class="input" type="email" placeholder="輸入電子郵件" name="email" id="email" required><br>
        <label class="table-bar" for="password"><b>密碼</b></label><br>
        <input class="input" type="password" placeholder="輸入密碼" name="password" id="password" required><br>
        <label>
            <input type="checkbox" checked="checked">
        </label>記住我<br>
        <button class="check-btn" type="submit">登入</button>
    </div>
</form>
<script>
    $('.content').submit(function (e) {
        e.preventDefault();
        if (!check()) {
            $.ajax({
                url: $(this).attr("action"),
                type: 'POST',
                data: $(this).serializeArray(),
                success: function (data) {
                    message(data)
                    setTimeout(function () {
                        redirect('/')
                    }, 1000)
                },
                error: function (data) {
                    message(data.responseText)
                },
            });
        }
    })
</script>
<div class="new_pusher"></div>
<div class="footer">
    Copyright © 2020 ItisCaleb & Kulimi. All rights reserved.
</div>
</body>
</html>