<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta charset="UTF-8">
    <title>TRPG Character Sheet Maker</title>
    <link href="/public/css/Main.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/public/css/Auth.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="../public/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/public/js/auth.js " charset="UTF-8"></script>
    <script src="/public/js/main.js" charset="UTF-8"></script>

</head>
<body>
<nav>
    <div class="topic">TRPG Toaster</div>
    <div id="menu" class="menu" >
        <img src="/public/source/icons8-menu.svg" alt="">
    </div>
    <ul>
        <li class="menu btn" id="btn" onclick="get('/')">首頁</li>
        <li class="menu btn" onclick="get('/about')">關於</li>
        <li class="menu btn logged_in" onclick="get('/trpgsession')" style="display: none">團務</li>
        <li class="menu btn logged_in" onclick="get('/charactersheet')" style="display: none">角色卡管理</li>
        <li class="menu btn adminpost" onclick="get('/adminpost')" style="display: none">管理員貼文</li>
    </ul>
    <div class="submenu">
        <button class="subbtn btn validation login">登入</button>
        <button class="subbtn btn validation signup">註冊</button>
    </div>

    <div id="overlay"></div>
    <div class="alert-message" style="top: 24px;"></div>



</nav>
<div class="right-menu pop" style="display: none">
        <img style="width: 50%" src="/public/source/toaster.svg"  alt="">
        <a class="btn" id="btn" onclick="get('/')">首頁</a>
        <a class="btn" onclick="get('/about')">關於</a>
        <a class="btn logged_in" onclick="get('/trpgsession')" style="display: none">團務</a>
        <a class="btn logged_in" onclick="get('/charactersheet')" style="display: none">角色卡管理</a>
        <a class="btn adminpost" onclick="get('/adminpost')" style="display: none">管理員貼文</a>
        <a class="btn validation login">登入</a>
        <a class="btn validation signup">註冊</a>
</div>
<div class="content" >
    <h1 class="title">註冊</h1>
    <div id="form-box">
        <form id="form" class="table" action="../api/user/authed">
            <label class="input">
                <input class="input-box" type="text" placeholder="輸入暱稱" name="name" id="name" required>
                <span class="check"></span>
            </label>
            <label class="input">
                <input class="input-box" type="email" placeholder="輸入電子郵件" name="email" id="email" required>
                <span class="check"></span>
            </label>
            <label class="input">
                <input class="input-box" type="password" placeholder="輸入密碼" name="password" id="password" required>
                <span class="check"></span>
            </label>
            <label class="input">
                <input class="input-box" type="password" placeholder="再次輸入密碼" name="repassword" id="repassword" required>
                <span class="check"></span>
            </label>
            <button id="signup" class="check-btn">註冊</button>
        </form>
        <p style="text-align: left">已經有帳號了嗎?<a href="/login">點擊這邊登入</a></p>
    </div>

</div>

<div class="new_pusher"></div>
<div class="footer">
    Copyright © 2020 trpgtoaster.com. All rights reserved.
</div>
</body>
</html>