<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="view" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta charset="UTF-8">
    <title>角卡創建</title>
    <link href="/public/Main.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/public/Auth.css" rel="stylesheet" type="text/css" media="all"/>
</head>
<body style="margin:0;background-color:#E0E0E0">
<nav>
    <div class="topic">TRPG角卡創建</div>
    <li class="menu btn" onclick="redirect('/')">首頁</li>
    <li class="menu btn" onclick="redirect('/create')" >角卡創建</li>
    <li class="menu btn" onclick="redirect('/about')">關於</li>
    <div class="submenu">
        <button class="subbtn btn" onclick="redirect('/login')">登入</button>
        <button class="subbtn btn" style="background-color: lightgrey" onclick="redirect('/register')">註冊</button>
    </div>
    <script src="/public/Main.js" charset="UTF-8"></script>
</nav>
<form class="content">
        <h1 class="title">註冊</h1>
        <div class="table">
            <label class="table-bar"><b>使用者暱稱</b></label><br>
            <input type="text" placeholder="輸入暱稱" name="name" required><br>
            <label class="table-bar"><b>電子郵件</b></label><br>
            <input type="email" placeholder="輸入電子郵件" name="email" required><br>
            <label class="table-bar"><b>密碼</b></label><br>
            <input type="password" placeholder="輸入密碼" name="password" required><br>
            <button class="check-btn" type="submit">註冊</button>
        </div>
</form>
</body>
</html>