<div class="right-menu pop" style="display: none">
    <img style="width: 50%" src="/public/source/toaster.svg"  alt="">
    <a class="btn" id="btn" onclick="get('/')">首頁</a>
    <a class="btn" onclick="get('/about')">關於我們</a>
    <a class="btn logged_in" onclick="get('/trpgsession')" style="display: none">團務</a>
    <a class="btn logged_in" onclick="get('/charactersheet')" style="display: none">角色卡管理</a>
    <a class="btn adminpost" onclick="get('/adminpost')" style="display: none">管理員貼文</a>
    <a class="btn validation login">登入</a>
    <a class="btn validation signup">註冊</a>
</div>