<!DOCTYPE html>
<html lang="en">
<head>
    <%include model/head.ejs%>
    <link href="/public/css/Auth.css" rel="stylesheet" type="text/css" media="all">
</head>
<body>
<nav>
<% include model/header.ejs%>
</nav>
<% include model/rightmenu.ejs%>
<div class="content" >
    <h1 class="title">創建團務</h1>
    <div id="form-box">
        <form class="table" action="../api/session/TRPGCreateSession" method="post" >
            <label class="input">
                <input class="input-box" type="text" placeholder="輸入要創建的團務名稱" name="name" id="name" required>
            </label>
            <label class="input">
                <input class="input-box" type="password" placeholder="輸入密碼" name="password" id="password" required>
            </label>
            <button class="check-btn" type="submit">創建</button>
        </form>
    </div>
    <button class="btn session" onclick="redirect('/trpgsession')" style="float:right;margin-right: 100px">團務</button>
</div>

<script>
    $('.table').submit(function (e) {
        e.preventDefault();
        $('.check-btn').prop('disabled',true);
        $.ajax({
            url: $(this).attr("action"),
            type: 'POST',
            data:$(this).serializeArray() ,
            success:function(data){
                good_message(data)
                setTimeout(function(){
                    redirect('/trpgsession')
                },1000)
            },
            error: function (data) {
                bad_message(data.responseText)
                setTimeout(function () {
                    $('.check-btn').prop('disabled',false);
                },1000)
            }
        });
    })
</script>
<%include model/footer.ejs%>
</body>
</html>