<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="view" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta charset="UTF-8">
    <title>角卡創建</title>
    <link href="/public/css/Main.css" rel="stylesheet" type="text/css" media="all"/>
    <link href="/public/css/Auth.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="../public/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/button.js" charset="UTF-8"></script>
    <script src="/public/js/socket.js" charset="UTF-8"></script>
</head>
<body style="margin:0;background-color:#E0E0E0">
<nav>
    <div class="topic">TRPG角卡創建</div>
    <li class="menu btn" onclick="redirect('/')">首頁</li>
    <li class="menu btn" onclick="redirect('/create')" >角卡創建</li>
    <li class="menu btn" onclick="redirect('/about')">關於</li>
    <li class="menu btn" onclick="redirect('/trpgsession')">團務</li>
    <li class="menu btn" onclick="redirect('/')">角色卡管理</li>
    <li class="menu btn adminpost" onclick="redirect('/adminpost')" style="visibility: hidden">管理員貼文</li>
    <div class="submenu">
        <button class="subbtn btn validation" id="login" >登入</button>
        <button class="subbtn btn validation" id="signup" >註冊</button>
    </div>
</nav>
<form class="content" action="../api/TRPGCreateSession" method="post" >
    <h1 class="title">創建團務</h1>
    <button class="btn session" onclick="redirect('/trpgsession')"style="float:right;margin-right: 100px">團務</button>
    <div class="table">
        <label class="table-bar" for="name"><b>輸入團務名稱</b></label><br>
        <input type="text" placeholder="輸入名稱" name="name" id="name" required><br>
        <label class="table-bar" for="password"><b>輸入密碼</b></label><br>
        <input type="password" placeholder="輸入名稱" name="password" id="password" required><br>
        <button class="check-btn" type="submit">創建</button>
    </div>
</form>
<div class="new_pusher"></div>
<div class="footer">
    Copyright © 2020 ItisCaleb. All rights reserved.
</div>
</body>
</html>