<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="view" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta charset="UTF-8">
    <title>TRPG Character Sheet Maker</title>
    <link href="/public/css/Main.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="../public/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script src="/public/js/button.js" charset="UTF-8"></script>

</head>
<body>
<nav>
    <div class="topic">TRPG角卡創建</div>
    <li class="menu btn" id="btn" onclick="get('/')">首頁</li>
    <li class="menu btn" onclick="get('/about')">關於</li>
    <li class="menu btn logged_in" onclick="get('/trpgsession')"style="visibility: hidden">團務</li>
    <li class="menu btn logged_in" onclick="get('/charactersheet')"style="visibility: hidden">角色卡管理</li>
    <li class="menu btn adminpost" onclick="get('/adminpost')" style="visibility: hidden">管理員貼文</li>
    <div class="submenu">
        <button class="subbtn btn" id="user">個人主頁</button>
        <button class="subbtn btn" id="exit">登出</button>
    </div>
    <div class="message"></div>

</nav>
<div class="content">
    <h1 style="text-align: center;line-height:40px ;"><%=title%></h1>
    <div class="content-decribe" style="text-align: center;line-height:30px ;">
        這邊應該顯示個人主頁
    <div>電子郵件/帳號:<%=email%></div>
    <div style="text-align: center">
        <button class="btn session" id="change_password">修改密碼</button>
        <form id="password_input" action="../api/user/password" method="post" style="visibility: hidden">
            <label class="table-bar" for="email"><b>輸入舊密碼</b></label><br>
            <input type="password" placeholder="輸入舊密碼" name="old_password" id="old_password" required><br>
            <label class="table-bar" for="password"><b>輸入新密碼</b></label><br>
            <input type="password" placeholder="輸入新密碼" name="new_password" id="new_password" required><br>
            <button class="btn session" type="submit">確認</button>
            <button class="btn session" id="cancel_password">取消</button>
        </form>
    </div>
    </div>
</div>
<script>
    $('#password_input').submit(function (e) {
        e.preventDefault();

        $.ajax({
            url: $(this).attr("action"),
            type: 'POST',
            data:$(this).serializeArray() ,
            success:function(data){
                message(data)
                setTimeout(function(){
                    redirect('/user')
                },1000)
            },
            error:function(data){
                message(data.responseText)
            },
        });
    })
</script>
<div class="new_pusher"></div>

<div class="footer">
    Copyright © 2020 ItisCaleb & Kulimi. All rights reserved.
</div>
</body>
</html>