<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
    <meta charset="UTF-8">
    <title>TRPG Character Sheet Maker</title>
    <link href="/public/css/Main.css" rel="stylesheet" type="text/css" media="all"/>
    <script src="../public/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>

    <script src="/public/js/main.js" charset="UTF-8"></script>

</head>
<body>
<nav>
   <div class="topic">TRPG Toaster</div>
    <div id="menu" class="menu" >
        <img src="/public/source/icons8-menu.svg" alt="">
    </div>
    <ul>
        <li class="menu btn" id="btn" onclick="get('/')">首頁</li>
        <li class="menu btn" onclick="get('/about')">關於</li>
        <li class="menu btn logged_in" onclick="get('/trpgsession')" style="display: none">團務</li>
        <li class="menu btn logged_in" onclick="get('/charactersheet')" style="display: none">角色卡管理</li>
        <li class="menu btn adminpost" onclick="get('/adminpost')" style="display: none">管理員貼文</li>
    </ul>
    <div class="submenu">
        <button class="subbtn btn validation login">登入</button>
        <button class="subbtn btn validation signup">註冊</button>
    </div>

    <div id="overlay"></div>
    <div class="alert-message" style="top: 24px;"></div>
    <div id="password-window" class="message pop" style="top: 24px;display: none">
        <div class="message-div">
            <div class="message-alert">更改密碼
                <div class="message-content">
                    <div style="text-align: center">
                        <form id="password_input" action="../api/user/password" method="post">
                            <label class="table-bar" for="old_password" style="font-size: 15px"><b>輸入舊密碼</b></label><br>
                            <input type="password" placeholder="輸入舊密碼" name="old_password" id="old_password" required><br>
                            <label class="table-bar" for="new_password" style="font-size: 15px"><b>輸入新密碼</b></label><br>
                            <input type="password" placeholder="輸入新密碼" name="new_password" id="new_password" required><br>
                            <button class="btn session" type="submit">確認</button>
                        </form>
                        <button class="btn session" id="cancel-password">取消</button>
                    </div>
                </div>

            </div>
        </div>
    </div>
</nav>
<div class="right-menu pop" style="display: none">
        <img style="width: 50%" src="/public/source/toaster.svg"  alt="">
        <a class="btn" id="btn" onclick="get('/')">首頁</a>
        <a class="btn" onclick="get('/about')">關於</a>
        <a class="btn logged_in" onclick="get('/trpgsession')" style="display: none">團務</a>
        <a class="btn logged_in" onclick="get('/charactersheet')" style="display: none">角色卡管理</a>
        <a class="btn adminpost" onclick="get('/adminpost')" style="display: none">管理員貼文</a>
        <a class="btn validation login">登入</a>
        <a class="btn validation signup">註冊</a>
</div>
<div class="content">
    <h1 style="text-align: center;line-height:40px ;"><%=title%></h1>
    <div class="content-decribe" style="text-align: center;line-height:30px ;">
        這邊應該顯示個人主頁
    <div>電子郵件/帳號:<%=email%></div>
    <button class="btn session" id="change-password">修改密碼</button>
    </div>
</div>
<script>
    $('#password_input').submit(function (e) {
        e.preventDefault();

        $.ajax({
            url: $(this).attr("action"),
            type: 'POST',
            data:$(this).serializeArray() ,
            success:function(data){
                good_message(data)
                setTimeout(function(){
                    redirect('/user')
                },1000)
            },
            error:function(data){
                bad_message(data.responseText)
            },
        });
    })
</script>
<div class="new_pusher"></div>

<div class="footer">
    Copyright © 2020 trpgtoaster.com. All rights reserved.
</div>
</body>
</html>