<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>電子郵件驗證</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="content" style="text-align: center">
    <h1>TRPG Toaster</h1>
    <p class="content-decribe" style="text-align: center;line-height:30px ;">
        驗證你的電子郵件!<br>
        同時也祝你有個美好的一天!
    </p>
    <a href="https://trpgtoaster.com/verify/<%=id%>">點擊這邊驗證</a>
</div><br>
<div class="footer" style="text-align: center" >
    Copyright © 2020 trpgtoaster.com. All rights reserved.
</div>
</body>
</html>
