

.title{
    vertical-align: middle;text-align: center;
}
@media only screen and (min-width: 768px) {
    .table-bar {
        margin: 8px;
    }

    .input {
        height: 100%;
        width: 100%;
        padding: 18px 16px 8px;
        margin: 8px;
        display: inline-block;
        outline: none;
        font-size: 18px;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #ccc;
        box-sizing: border-box;
    }

    .input-box {
        float: left;
        width: 60%;
        display: inline-block;
        outline: none;
        font-size: 18px;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        box-sizing: border-box;
    }

    #form-box {
        width: 40%;
        display: block;
        text-align: center;
        padding: 0;
        margin: 12px auto 0;
    }

    .table {
        padding: 10px;

    }

    .remember {
        padding: 10px;
        float: left;
        line-height: 19px;
        font-size: 14px;
        cursor: pointer;
    }

    .check-btn {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 8px;
        border: none;
        cursor: pointer;
        width: 100%;
    }
}

@media only screen and (max-width:768px){
    .table-bar {
        margin: 8px;
    }
    span{
        font-size: 12px;
    }
    .input {
        height: 100%;
        width: 100%;
        padding: 18px 0 0 16px;
        margin: 8px;
        display: inline-block;
        outline: none;
        font-size: 18px;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #ccc;
        box-sizing: border-box;
    }

    .input-box {
        float: left;
        display: inline-block;
        width: 67%;
        outline: none;
        font-size: 15px;
        border-top-width: 0;
        border-right-width: 0;
        border-left-width: 0;
        border-bottom-width: 0;
        box-sizing: border-box;
    }

    #form-box {
        width: 95%;
        display: table;
        text-align: center;
        padding: 0;
        margin: 12px auto 0;
    }

    .table {
        padding: 10px;

    }

    .remember {
        padding: 10px;
        float: left;
        line-height: 19px;
        font-size: 14px;
        cursor: pointer;
    }

    .check-btn {
        background-color: #4CAF50;
        color: white;
        padding: 14px 20px;
        margin: 8px 8px;
        border: none;
        cursor: pointer;
        width: 100%;
    }

}
.check-btn:hover {
    opacity: 0.8;
}