
form{
    width: auto;
}
.sheet_creat_div {
    width: 100%;
    padding: 1%;
}

.list-button{
    border-radius: 50%;
    width: 40%;
    cursor: pointer;
}
.list-menu{
    display: inline-block;
    margin-top:5px ;
    width: 90%;
    border:1px solid lightgray;
    border-bottom:none ;
    background: white;
}
.list-menu-text{
    width: auto;
    padding: 5%;
    margin: 0;
    text-align: center;
    border-bottom:1px solid lightgray ;
    cursor: pointer;
}

.list-menu-text:hover{
    background: #46A3FF;
    color: white;
}

.permissions-choose{
    border-left:3px solid #4CAF50 ;
}
.right-list-menu:hover{
    display: inline-block;
}

.sheet_input_div {
    margin-right:60px;
}

.sheet_input_div2 {
    margin-right:120px;
    width: 100%;
}

.sheet_input_div3 {
    margin-right:20px;
}
.chara{
    display: inline;
}
.custom-add:hover{
    background:#e8e2d5;
    cursor: pointer;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media only screen and (max-width:768px) {
    .mobile-nav{
        margin-top: 4%;
        padding:0.5% ;
        width: 100%;
        background: white;
        border: 1px solid lightgray;
    }
    #mobile-option{
        width: 45%;
    }
    .loader {
        display: inline-block;
        border: 5px solid #f3f3f3; /* Light grey */
        border-top: 5px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 20px;
        height: 20px;
        vertical-align: middle;
        animation: spin 2s linear infinite;
    }
    .success-icon{
        width: 60%;
        display: inline;
    }
    .save-icon{
        width: 70%;
        display: inline;
    }
    #mobile-img{
        width: 10%;
        right: 0;
        display: inline-block;
        vertical-align: middle;
        cursor: pointer;
    }
    .correct-image{
        width: 15%;
        vertical-align: middle
    }
    .list-menu{
        width: 60%;
    }

    .main-tab-content{
        font-size: 10px;
    }
    td > input{
        width: 50%;
    }
    .custom{
        width: 70%;
    }
    .add-menu{
        width: 9%;
    }
    .left-side{
        display: none;
    }
    .add-menu{
        position: fixed;
        left: 4%;
        top:30%;
        width: 15%;
        border: 1px solid lightgray;
        background-color: white;
    }

}
@media only screen and (min-width: 768px) {
    #mobile-option{
        display: none;
    }
    .correct-image{
        width: 20%;
    }
    td > input {
        width: 100%;
    }

    .loader {
        display: inline-block;
        border: 5px solid #f3f3f3; /* Light grey */
        border-top: 5px solid #3498db; /* Blue */
        border-radius: 50%;
        width: 10px;
        height: 10px;
        animation: spin 2s linear infinite;
    }
    .custom {
        width: 100%;
    }

    .add-menu {
        width: 5%;
    }
    .left-side{
        height: 70%;
        width: 10%;
        max-width: 20%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: -1%;
        overflow-x: hidden;
        margin-top: 10%;
        margin-right: -10%;
        text-align: center;
    }

    .list{
        width: 100%;
        height: auto;

    }
    .list-left-side{
        width: 60%;
        display: inline-block;
        margin-right:-20% ;
        float: left;
    }
    .list-right-side{
        width: 10%;
        position: fixed;
        left: 9%;
        display: inline-block;
        margin-top: 15%;
    }
    .list-menu{
        width: 70%;
    }
    .list-text{
        margin-bottom:10% ;
    }
    .list-top{
        display: inline-block;
        vertical-align: center;
        background: white;
        border:1px solid lightgray;
        margin-top: 5%;
        width: 70%;
        border-radius: 15%;
    }
    .add-menu{
        position: fixed;
        right: 4%;
        top:30%;
        width: 8%;
        border: 1px solid lightgray;
        background-color: white;
    }
}
.create{
    border: 0;
    border-bottom:1px solid lightgray ;
    padding: 5%;
    font-size: 100%;
    width: 100%;
    background:white ;
}
table{
    border-collapse: collapse;
    width: 100%;
}
td{
    padding: 0;
    display: table-cell;
    text-align: center;
    border: 1px solid lightgray;
}

td > input{
    border: 0;
    padding: 0;
    height:25px;
    width: 100%;

}
#add-image{
    border: 1px solid lightgray;
    min-width: 10%;
    max-width: 40%;
    min-height: 10%;
    max-height: 40%;
    cursor: pointer;
}
.name{
    width: 10%;
}
.base{
    width: 3%;
}
.td-input{
    width: 4%;
}
input{
    text-align: center;
}
.total{
    width: 5%;
}
.custom,.custom-skill-name{
    word-break: break-all;
}

#add-slider{
    display: inline-block;
    -webkit-appearance: slider-vertical;
    width: 40%;
    align-items: center;
}
.add-number {
    display: inline-block;
    position: absolute;
    top:37%;
}
#add{
    margin-top: 5%;
    background-image:url("/public/source/iconmonstr-plus-6.svg") ;
    background-size:100% ;
    width: 25px;
    height: 25px;
    border: 0;
    cursor: pointer;
}
#minus{
    background-image:url("/public/source/iconmonstr-minus-circle-thin.svg") ;
    background-size:100% ;
    width: 25px;
    height: 25px;
    border: 0;
    cursor: pointer;
}

.container{

    width: 100%;
    margin: 0;
}


ul.tabs{
    margin: 0;
    padding: 0;
    list-style: none;

}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: #ededed;
    color: #222;
}

.tab-content{
    display: none;
    width:auto;
}

.tab-content.current{
    display: inherit;
}
ul.tabs{
    margin: 0;
    padding: 0;
    list-style: none;

}
ul.tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.tabs li.current{
    background: #ededed;
    color: #222;
}

.tab-content{
    display: none;
}

.tab-content.current{
    display: inherit;
}
ul.main-tabs{
    margin-left: 5%;
    padding: 0;
    list-style: none;

}
ul.main-tabs li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 15px;
    cursor: pointer;
}

ul.main-tabs li.main-current{
    background: lightgray;
    color: #222;
}

.main-tab-content{
    border: 1px solid lightgray;
    display: none;
    padding: 15px;
}

.main-tab-content.main-current{
    display: inherit;
}
