.sheet-creat-div {
    width: 100%;
    height: 100%;
    padding: 10px;
}
.sheet-creat-div >label>input{
    width: 50%;
}
#sheet-creat-skill{
    width: 90%;
}
table{
    width: 87%;
    border: 1px solid lightgray;
    border-collapse: collapse;
}
td{
    border: 1px solid lightgray;
}
.skill-td{
    border: 1px solid lightgray;
    border-right:0 ;
    width: 30%;
}
td> p{
    display: inline;
}
.attr{
    border-left:0;
    width: 13%;
    text-align: right;
    font-size: 80%;
}

td>label{
    font-size: 80%;
}

.sheet-input-div {
    width: 100%;
}
.sheet-input-div >label> input{
    width: 70%;
}
.create{
    background-color: white;
}
.chara{
    display: inline;
}
.base-attr{
    width: 20% !important;
}
.money{
    width: 30%;
}
.spell-number{
    text-align:center;
}
.spell-level{
    font-size:200% ;
    margin: 0 2% 0 0;
}
.spell-label{
    margin-top:2% ;
}

#add-image{
    border: 1px solid lightgray;
    min-width: 10%;
    max-width: 40%;
    min-height: 10%;
    max-height: 40%;
    cursor: pointer;
}

@media only screen and (min-width: 768px){
    #mobile-option{
        display: none;
    }
    .spell-content{
        margin: 50px;
    }
    .spell-slots{
        display: inline-block;width: 30%;
    }
    .spell-number{
        width: 100%;
    }
    .spell-label{
        width: 30%;
    }
    .story-text{
      height: 150px;width: 100%;resize: none
    }
    .story-column{
        width: 45%;display: inline-block
    }
}


@media only screen and (max-width: 768px) {
    .spell-slots{
        width: 100%;
    }
    .spell-level{
        width: 20%;
        display: inline;
    }
    .spell-number{
        width: 40%;
    }
    .spell-label{
        width: 60%;
    }
    .spell-name{
        width: 85%;
    }
    .spell-total{
        width: 60%;
    }
    .story-text{
        height: 150px;width: 100%;resize: none
    }
    .story-column{
        width: 80%;
    }


}

.loader {
    display: inline-block;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}

.correct-image{
    width: 15%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
td{
    padding: 0;
}
td > input{
    border: 0;
    height: 25px;
}





.list{
    width: 100%;
    height: auto;

}
.list-left-side{
    width: 60%;
    display: inline-block;
    margin-right:-20% ;
    float: left;
}
.list-right-side{
    width: 10%;
    position: fixed;
    left: 9%;
    display: inline-block;
    margin-top: 15%;
}
.list-text{
    margin-bottom:10% ;
}
.list-top{
    display: inline-block;
    vertical-align: center;
    background: white;
    border:1px solid lightgray;
    margin-top: 5%;
    width: 70%;
    border-radius: 15%;
}
.list-button{
     border-radius: 50%;
     width: 40%;
     cursor: pointer;
 }
.list-menu{
    display: inline-block;
    margin-top:5px ;
    width: 90%;
    border:1px solid lightgray;
    border-bottom:none ;
    background: white;
}
.list-menu-text{
    width: auto;
    padding: 5%;
    margin: 0;
    text-align: center;
    border-bottom:1px solid lightgray ;
    cursor: pointer;
}

.list-menu-text:hover{
    background: #46A3FF;
    color: white;
}

.permissions-choose{
    border-left:3px solid #4CAF50 ;
}
.right-list-menu:hover{
    display: inline-block;
}