.sheet_creat_div {
// margin: 50px;
    width: 100%;
// border: 2px solid black;
    padding: 20px;
}
.sheet_input_div >label> input{
    width: 30%;
}
#loader {
    display: inline-block;
    border: 5px solid #f3f3f3; /* Light grey */
    border-top: 5px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: spin 2s linear infinite;
}
.correct-image{
    width: 2%;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
td{
    padding: 0;
}
td > input{
    border: 0;
    height: 25px;
}




#tab_demo{ width:900px;}
#tab_demo > ul{ display:block; margin:0;list-style:none;}
.tab_title{list-style:none;}
#tab_demo > ul > li{ display: inline-block; vertical-align: bottom; margin:0 -1px -1px 0 ; border:1px solid #BCBCBC; height:25px; line-height:25px; background:#cdcdcd;padding:0 15px;list-style:none; box-sizing:border-box;}
#tab_demo >  ul > li a{ color:#000; text-decoration:none;}
#tab_demo > ul > li.active{ border-bottom:1px solid #fff; background:#fff;}
#tab_demo > .tab{ clear:both; color:#000; border:1px #BCBCBC solid;}
.tab{ padding:15px;}