table {
    border-collapse: collapse;
    width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

th {
    border: 1px solid lightgray;
    padding: 0;
    background: rgb(240, 240, 240);
}

td {
    border: 1px solid lightgray;
    padding: 2%;
    word-break: break-all;
}

.trpg_session:hover {
    background: #e8e2d5;
    cursor: pointer;
}

ul.main-tabs {
    padding: 0;
    list-style: none;
    width: 60%;
    margin-bottom: 0;
}

ul.main-tabs li {
    background: none;
    color: #222;
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
}

ul.main-tabs li.main-current {
    background: rgb(224, 224, 224);;
    color: #222;
}

.main-tab-content {
    display: none;
    margin: 0 10%;
}

.main-tab-content.main-current {
    display: inherit;
}

@media only screen and (max-width: 768px) {
    th {
        font-size: 20px;
    }

    td {
        font-size: 15px;
    }
}

@media only screen and (min-width: 768px) {
    th {
        font-size: 30px;
    }

    td {
        font-size: 20px;
    }

}
