#systems{
    vertical-align: top;
    width:30%;
    display: table-cell;
    border-right:1px solid lightgray;
    border-collapse: collapse;
}
.systems-title{
    text-align: center;
    font-size: 23px;
    padding:0;
    margin: 0;
    border-bottom: 1px solid lightgray;
}
.systems-title-tile{
    padding: 3px 25px;
    cursor:pointer;
}

.systems-title-tile:hover{
    background: #46A3FF;
    color: white;
}

.systems-picture{
    width: 100%;
}
#systems-info{
    height: 80%;
    width: 70%;
    text-align: right;
}
.systems-choose{
    /*background: #46A3FF;
    color: white;*/
}

.systems-title-tile:hover{
    animation-name: choose-mouse-hover;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

.systems-title-tile:not(:hover){
    animation-name: choose-mouse-leave;
    animation-iteration-count: 1;
    animation-duration: 0.5s;
}

@keyframes choose-mouse-hover {
    0% {
        background: #ffffff;
        color: #000000;
    }
    100% {
        background: #46A3FF;
        color: white;
    }
}

@keyframes choose-mouse-leave {
    0% {
        background: #46A3FF;
        color: white;
    }
    100% {
        background: #ffffff;
        color: #000000;
    }
}
