$pcb-media:1025px;
$pc-media:960px;
$pcs-media:959px;
$pad-media:760px;
$pads-media:759px;
$phone-media:480px;
$phones-media:479px;


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@mixin big-pc-width(){
  @media all and (min-width: $pcb-media){
    @content;
  }
}
//電腦
@mixin pc-width() {
  @media all and (min-width: $pc-media) and (max-width: $pcb-media){
    @content;
  }
}
//平板
@mixin pad-width() {
  @media all and (min-width:$pad-media) and (max-width: $pcs-media) {
    @content;
  }
}
//小平板
@mixin small-pad-width() {
  @media all and (min-width: $phone-media) and (max-width:$pads-media) {
    @content;
  }
}
//手機
@mixin phone-width() {
  @media all and (max-width: $phones-media) {
    @content;
  }
}
.dark{
  background-color: #434a5c;
  nav{
    background-color: #313340 !important;
    .navbar-brand{
      color: white !important;
    }
    .nav-link{
      color: #dedede !important;
      &:hover{
        color: #e3e3e3 !important;
      }
    }
  }
  div,.box{
    color: #dedede !important;
  }
  .box{
    background-color: #313340 !important ;
    border-color: gray !important;
    input,textarea{
      background-color: #313340 !important;
    }
  }
  input,textarea,select{
    background-color: #5f6582 !important ;
    color: lightgray;
  }
  .sheets:hover{
    background-color: #656b8b;
  }
  .systems-title-tile:hover{
    background-color: #757aa1 !important;
  }
  .tab-name:hover{
    background-color: #757aa1 !important;
  }
  .active{
    background-color: #5f6582 !important;
  }

  #footer{
    background-color: #313340 !important;
    color: #dedede !important;
    border-top: #434a5c !important;
  }
}


