$pcb-media:1025px;
$pc-media:960px;
$pcs-media:959px;
$pad-media:760px;
$pads-media:759px;
$phone-media:480px;
$phones-media:479px;


@mixin big-pc-width(){
  @media all and (min-width: $pcb-media){
    @content;
  }
}
//電腦
@mixin pc-width() {
  @media all and (min-width: $pc-media) and (max-width: $pcb-media){
    @content;
  }
}
//平板
@mixin pad-width() {
  @media all and (min-width:$pad-media) and (max-width: $pcs-media) {
    @content;
  }
}
//小平板
@mixin small-pad-width() {
  @media all and (min-width: $phone-media) and (max-width:$pads-media) {
    @content;
  }
}
//手機
@mixin phone-width() {
  @media all and (max-width: $phones-media) {
    @content;
  }
}


