<div class="topic">TRPG Toaster</div>
<div id="menu" class="menu">
    <img src="/public/source/icons8-menu.svg" alt="">
</div>
<ul>
    <li class="menu btn" id="btn"><a href="/">首頁</a></li>
    <li class="menu btn"><a href="/about">關於我們</a></li>
    <%const userData = authData || {
        auth:false
    }%>
    <%if(userData.auth===true) {%>

        <li class="menu btn logged_in"><a href='/trpgsession'>團務</a></li>
        <li class="menu btn logged_in"><a href='/charactersheet'>角色卡管理</a>
    <%}%>
</ul>
<div class="submenu">
    <%if (userData.auth===true) {%>
        <button class="subbtn btn validation"><a href='/user'>歡迎!<%=authData.user%></a></button>
        <button class="subbtn btn validation exit">登出</button>
    <%}else {%>
        <button class="subbtn btn validation"><a href='/login'>登入</a></button>
        <button class="subbtn btn validation"><a href='/signup'>註冊</a></button>
    <%}%>


</div>
<div id="overlay"></div>
<div class="alert-message" style="top: 24px;"></div>
