    <meta charset="utf-8">
    <title>TRPG Character Sheet Maker</title>
    <link rel="icon" href="/public/source/icon.png" type="image/ico"/>
    <link href="/public/css/Main.css" rel="stylesheet" type="text/css" media="all"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="/public/js/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/public/js/main.js" charset="UTF-8"></script>