<div class="left-side">
    <div class="list">
        <div class="list-top">
            <div>
                <div class="save-icon" style="display: none">
                    儲存中
                    <div class="loader"></div>
                </div>
                <div class="success-icon">
                    最新狀態
                    <img class="correct-image" src="/public/source/iconfinder_Tick_Mark_Dark_1398912.png" alt="">
                </div>
            </div>
        </div>
        <div class="list-top">
            <p class="list-text">選項</p>
            <img src="../public/source/menu-icon.png" class="list-button" alt="">
        </div>
        <div class="left-list-menu list-menu side-pop" style="display: none">
            <div  class="list-menu-text permission">
                檢視權限
            </div>
            <div  class="list-menu-text delete-check">
                刪除角色卡
            </div>
        </div>
    </div>
</div>
<div class="list-right-side">
    <div class="right-list-menu list-menu side-pop pop" style="display: none">
        <div class="list-menu-text permissions permissions-choose">限團務GM</div>
        <div class="list-menu-text permissions">團務所有玩家</div>
        <div class="list-menu-text permissions">所有人</div>
    </div>
</div>