<div class="left-side">
    <div class="list">
        <div class="list-top">
            <p class="list-text">選項</p>
            <img src="/public/source/menu-icon.png" class="list-button" alt="">
        </div>
        <div class="left-list-menu list-menu side-pop" style="display: none">
            <div class="list-menu-text permission">
                檢視權限
            </div>
            <div class="list-menu-text delete-check">
                匯入
            </div>
            <button style="border: 0;padding: 5%;font-size: 100%;width: 100%" class="list-menu-text create">
                創建
            </button>
        </div>

    </div>
</div>
<div class="list-right-side">
    <div class="right-list-menu list-menu side-pop pop" style="display: none">
        <div class="list-menu-text permissions permissions-choose">限團務GM</div>
        <div class="list-menu-text permissions">團務所有玩家</div>
        <div class="list-menu-text permissions">所有人</div>
    </div>
</div>