body {
    background-color: #1d1d1d;
    font-family: 'Noto Sans TC', sans-serif;
}

.content {
    background-color: #2f2f2f;
}

#login-div {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #2f2f2f;
    border-top: 20px #ffffff double;
    border-bottom: 20px #ffffff double;
    justify-content: center;
    font-size: 200%;
    text-align: center;
    color: #ffffff;
    margin: 5%;
    width: auto;
    padding: 100px;
    max-height: 60%;
}
#login-div > form > input {
    margin: 10px;
}
